 A) Extract feature
     a) feature and target should not contain null value
     b) feature should be numeric in nature
     c) feature should have some rows and columns
 B) Spliting data in training and testing dataset
     a) Feature should in same scale
 C) Train data in training dataset
 D) Test data in testing dataset

# HEART DISEASE PREDICTION USING LOGISTIC REGRESSION.

Introduction

World Health Organization has  estimated 12 million deaths occur worldwide, every year due to Heart diseases. Half the deaths in the United States and other developed countries are due to cardio vascular diseases. This research intends to pinpoint the most relevant/risk factors of heart disease as well as predict the overall risk using logistic regression.

### import pandas module as pd

In [1]:
import pandas as pd

### Loading the csv data to pands data frame

In [2]:
data=pd.read_csv(r"C:\Users\Hp\Documents\heart disease prediction\framingham.csv")

### pritn number  of rows and colunms in dataset

In [3]:
data.shape

(4240, 16)

### printing first 5 rows of the dataset

In [4]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

#  A) Extract feature

### droping unwanted attributes form dataset

In [5]:
data=data.drop("education",axis=1)

In [6]:
data=data.drop("currentSmoker",axis=1)

In [7]:
data=data.drop("BPMeds",axis=1)

In [8]:
data=data.drop("prevalentStroke",axis=1)

In [9]:
data=data.drop("prevalentHyp",axis=1)

In [10]:
data=data.drop("diaBP",axis=1)

In [11]:
data=data.drop("BMI",axis=1)

In [12]:
data.head()

,male,age,cigsPerDay,diabetes,totChol,sysBP,heartRate,glucose,TenYearCHD
0,1,39,0.0,0,195.0,106.0,80.0,77.0,0
1,0,46,0.0,0,250.0,121.0,95.0,76.0,0
2,1,48,20.0,0,245.0,127.5,75.0,70.0,0
3,0,61,30.0,0,225.0,150.0,65.0,103.0,1
4,0,46,23.0,0,285.0,130.0,85.0,85.0,0

### spliting the feature and target ,feature in x and target in y and droping target from x.

In [13]:
y=data['TenYearCHD']

In [14]:
x=data.drop("TenYearCHD",axis=1)

In [15]:
print(x)

      male  age  cigsPerDay  diabetes  totChol  sysBP  heartRate  glucose
0        1   39         0.0         0    195.0  106.0       80.0     77.0
1        0   46         0.0         0    250.0  121.0       95.0     76.0
2        1   48        20.0         0    245.0  127.5       75.0     70.0
3        0   61        30.0         0    225.0  150.0       65.0    103.0
4        0   46        23.0         0    285.0  130.0       85.0     85.0
...    ...  ...         ...       ...      ...    ...        ...      ...
4235     0   48        20.0         0    248.0  131.0       84.0     86.0
4236     0   44        15.0         0    210.0  126.5       86.0      NaN
4237     0   52         0.0         0    269.0  133.5       80.0    107.0
4238     1   40         0.0         0    185.0  141.0       67.0     72.0
4239     0   39        30.0         0    196.0  133.0       85.0     80.0

[4240 rows x 8 columns]

### statistical measure of data set

In [16]:
data.describe()

,male,age,cigsPerDay,diabetes,totChol,sysBP,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4211.000000,4240.000000,4190.000000,4240.000000,4239.000000,3852.000000,4240.000000
mean,0.429245,49.580189,9.005937,0.025708,236.699523,132.354599,75.878981,81.963655,0.151887
std,0.495027,8.572942,11.922462,0.158280,44.591284,22.033300,12.025348,23.954335,0.358953
min,0.000000,32.000000,0.000000,0.000000,107.000000,83.500000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,0.000000,0.000000,206.000000,117.000000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,0.000000,0.000000,234.000000,128.000000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,20.000000,0.000000,263.000000,144.000000,83.000000,87.000000,0.000000
max,1.000000,70.000000,70.000000,1.000000,696.000000,295.000000,143.000000,394.000000,1.000000

### checking the distbution of target values

In [17]:
data['TenYearCHD'].value_counts()

0    3596
1     644
Name: TenYearCHD, dtype: int64

### checkin for null values

In [18]:
y.isna().sum()

0

#       a) feature and target should not contain null value

In [19]:
x.isna().sum()

male            0
age             0
cigsPerDay     29
diabetes        0
totChol        50
sysBP           0
heartRate       1
glucose       388
dtype: int64

### filling null value with mean value data set

In [20]:
x['cigsPerDay']=x['cigsPerDay'].fillna(x['cigsPerDay'].mean())

In [21]:
x['totChol']=x['totChol'].fillna(x['totChol'].mean())

In [22]:
x['glucose']=x['glucose'].fillna(x['glucose'].mean())

In [23]:
x['heartRate']=x['heartRate'].fillna(x['heartRate'].mean())

In [24]:
x.shape

(4240, 8)

In [25]:
y.shape

(4240,)

In [26]:
data.shape

(4240, 9)

In [27]:
x.isna().sum()

male          0
age           0
cigsPerDay    0
diabetes      0
totChol       0
sysBP         0
heartRate     0
glucose       0
dtype: int64

#    b) feature should be numeric in nature

In [28]:
x.dtypes

male            int64
age             int64
cigsPerDay    float64
diabetes        int64
totChol       float64
sysBP         float64
heartRate     float64
glucose       float64
dtype: object

#   c) feature should have some rows and columns

In [29]:
data.shape

(4240, 9)

# B) Spliting data in training and testing dataset

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.3,stratify=y,random_state=12)

In [32]:
xtrain.shape

(2968, 8)

In [33]:
xtest.shape

(1272, 8)

In [34]:
xtrain

      male  age  cigsPerDay  diabetes     totChol  sysBP  heartRate    glucose
1076     0   58         0.0         0  190.000000  132.0       65.0  70.000000
2203     0   50         0.0         0  232.000000  120.0       60.0  74.000000
1280     1   48        40.0         0  226.000000  117.5       60.0  66.000000
1305     1   62         0.0         0  216.000000  126.0       69.0  69.000000
2424     1   49        20.0         0  193.000000  172.0       90.0  77.000000
...    ...  ...         ...       ...         ...    ...        ...        ...
1747     0   51         0.0         0  236.699523  130.0       80.0  81.963655
104      0   42        20.0         0  173.000000  100.0       65.0  99.000000
1644     0   41         0.0         0  159.000000  119.0       55.0  70.000000
600      0   47        15.0         0  246.000000  113.0       68.0  68.000000
2851     0   42         0.0         0  263.000000  150.0       96.0  78.000000

[2968 rows x 8 columns]

### feature should contain on same scale

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
scaler=MinMaxScaler()

In [37]:
xtrain=scaler.fit_transform(xtrain)

In [38]:
xtest=scaler.transform(xtest)

# Model logistic regression

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
modelLogis=LogisticRegression()

In [41]:
modelLogis.fit(xtrain,ytrain)

LogisticRegression()

In [42]:
modelLogis.score(xtest,ytest)

0.8537735849056604

In [43]:
# Accuracy become=85.37

In [44]:
data.columns

Index(['male', 'age', 'cigsPerDay', 'diabetes', 'totChol', 'sysBP',
       'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

# Output

In [45]:
modelLogis.predict(pd.DataFrame([[0,61,30.0,0,225.0,150.0,65.0,103.0]]
                          ,columns=['male', 'age','cigsPerDay','diabetes', 'totChol', 'sysBP',
       'heartRate', 'glucose']))

array([1], dtype=int64)